<html>
    <head>
        <title>Video Enc</title>
    </head>
    <body>

        <div>
            <strong>Files</strong><br />
            <pre><%- JSON.stringify(files) %></pre>

            <span id="ffmpegStatus"></span>

        </div>

        <form method="post" action="video_upload" enctype="multipart/form-data" id="uploadForm">
            <input type="file" id="video" name="video" />
            <input type="submit" id="upload" name="upload" value="upload" />
        </form>

        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="jquery.form.min.js"></script>
        <script type="text/javascript" src="uploader.js"></script>
    </body>
</html>
